body {
    position: absolute;
    background: #daedfe;
    margin: 0px;
}

.navbar {
    width: 500px;
    width: 100%;
    background-color: blue;
}

.col-sm-3 {
    position: absolute;
    width: 261px;
    height: 68px;
    left: 575px;
    top: 10px;

    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;

    color: #3d92de;
}

.table {
    position: absolute;
    width: 707px;
    height: 325px;
    left: 330px;
    top: 173px;

    background: #ffffff;
    box-shadow: -4px 5px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: -90;

    font-family: "Nixie One", cursive;
}

th {
    padding-left: 150px;
}

.panel-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-top: 10px;
}

.col-sm-offset-3 {
    width: 1366px;
    padding-top: 10px;
    text-align: center;
}

.btn {
    margin-top: -65;
    padding: 5px 30px 5px 30px;
    color: #277eca;
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;

    outline: none;
    border: 2px solid #3d92de;
    border-radius: 50px;
}

.btn:hover {
    background-color: #3d92de;
    color: #ffffff;
}

input[type="text"] {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 80px;
    margin-left: 380px;
    width: 40%;
    text-align: left;
    resize: horizontal;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;

    background-color: rgb(255, 255, 255);
    box-shadow: -4px 5px 12px rgba(0, 0, 0, 0.089);
}

.del-btn {
    padding: 5px 5px 5px 5px;
    color: #ffffff;
    width: 100px;
    color: ffffff;
    background-color: #f94144;
    font-family: "Raleway", sans-serif;
    font-size: 12;
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 50px;
}

.del-btn:hover {
    background-color: #e0373a;
}

.table-text {
    padding: 10px 300px 10px 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.alert {
    font-family: "Raleway", sans-serif;
    text-align: center;
    list-style: none;
}

body {
    position: absolute;
    background: #daedfe;
    margin: 0px;
}

.navbar {
    width: 500px;
    width: 100%;
    background-color: blue;
}

.col-sm-3 {
    position: absolute;
    width: 261px;
    height: 68px;
    left: 575px;
    top: 10px;

    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;

    color: #3d92de;
}

.table {
    position: absolute;
    width: 707px;
    height: 325px;
    left: 330px;
    top: 173px;

    background: #ffffff;
    box-shadow: -4px 5px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: -90;

    font-family: "Nixie One", cursive;
}

th {
    padding-left: 150px;
}

.panel-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-top: 10px;
}

.col-sm-offset-3 {
    width: 1366px;
    padding-top: 10px;
    text-align: center;
}

.btn {
    margin-top: -65;
    padding: 5px 30px 5px 30px;
    color: #277eca;
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;

    outline: none;
    border: 2px solid #3d92de;
    border-radius: 50px;
}

.btn:hover {
    background-color: #3d92de;
    color: #ffffff;
}

input[type="text"] {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 80px;
    margin-left: 380px;
    width: 40%;
    text-align: left;
    resize: horizontal;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;

    background-color: rgb(255, 255, 255);
    box-shadow: -4px 5px 12px rgba(0, 0, 0, 0.089);
}

.del-btn {
    padding: 5px 5px 5px 5px;
    color: #ffffff;
    width: 100px;
    color: ffffff;
    background-color: #f94144;
    font-family: "Raleway", sans-serif;
    font-size: 12;
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 50px;
}

.del-btn:hover {
    background-color: #e0373a;
}

.table-text {
    padding: 10px 300px 10px 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.alert {
    font-family: "Raleway", sans-serif;
    text-align: center;
    list-style: none;
}
